# JetBrains tools
.idea/
zos/
files

# Symbolic Execution Results
test/verification/manticore/results/*

# Artifacts are stored in https://artifacts-nevermined-rocks.s3.amazonaws.com/
!artifacts/placeholder
artifacts/*

circom
circuits
cache
*.tgz

# Build / Travis
build/
node_modules/
dist
ganache-cli.log
yarn-error.log

# Test / Coverage
coverage*
scTopics
allFiredEvents
.coverage_artifacts/
.coverage_contracts/

# Mac / Apple
.DS_Store

# Python related
nevermined_contracts.egg-info/
venv
target/
.python-version
.eggs/

# ZeppelinOS related
zos.dev-*.json
!zos.dev-8995.json
!zos.dev-2199.json
!zos.dev-846353.json
!zos.dev-62320.json
!zos.dev-44787.json
!zos.dev-80001.json
!zos.dev-1313161555.json
!zos.dev-1313161554.json
.zos.session
.zos.lock
zos.json
wallets.json

# Security report files
mythrilReport.md
securifyReport.txt
KeeperContracts.png
slitherReport.txt

# SNARK generation

circuits/input.json
circuits/keytransfer.r1cs
circuits/keytransfer.sym
circuits/keytransfer.wasm
circuits/proof.json
circuits/public.json
circuits/verification_key.json
powersOfTau28_hez_final_14.ptau

*.iml
.idea/
src/main/java/*
keytransfer_js/
keytransfer_cpp/

